node_modules/
docs/bundled/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# SQLite
*.db

# Virtual env
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
